<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<h1>{{ title }}🔎</h1>
<body>
    <div class="search-container">
        <form (ngSubmit)="getById()">
            <input type="text" name="ProfileId" placeholder="Enter Profile ID"  [(ngModel)]="id" />
            <button type="submit"><strong>Submit</strong></button>
        </form>
        <form (ngSubmit)="getByName()">
            <input type="text" name="EmployeeName" placeholder="Enter Employee Name"  [(ngModel)]="name" />
            <button type="submit"><strong>Submit</strong></button>
        </form>
    </div>
    <a routerLink="/new-profile.html">Add New Employee</a>
    <hr size="4" noshade>
    <!-- the vertical pipe takes the data from profile and send it through json format  -->
    
    <pre>
        <div id = "profile" class="profile-contianer">{{ profile | json }}</div>
    </pre>
    <footer>
        <app-footer></app-footer>
    </footer>  


